@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-bg: #E4E5E9;
    --color-card: #F5F4F2;
    --color-text: #0A0E11;
    --color-active-text: #F5F4F2;
    --color-active: #E74C2E;
    --color-active-f: #C23317;

    --font-main: "Alumni Sans", sans-serif;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
