@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-bg: #B3B7BA;
    --color-card: #D2D1CD;
    --color-text: #0F141A;

    --font-main: "Alumni Sans", sans-serif;
}

.sr-only {
    border: 0; 
    clip: rect(0 0 0 0); 
    -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}
